{% extends "base.html" %} {% block body %}
<h1>Flask 参考webサイト</h1>
<ur>
  <li>
    <a
      href="https://medium.com/@nohanabil/how-to-deploy-flask-app-using-vercel-885ce034624"
      >Vercel CLIの使い方</a
    >
  </li>
  <li>
    <a href="https://vercel.com/docs/cli/project-linking"
      >In which directory is your code located?に困った</a
    >
  </li>
  <li>
    <a href="https://qiita.com/sasao-genmaicha/items/57e2c6758e1aa8df7ae0"
      >RuntimeErrorを読み解く</a
    >
  </li>
  <li><a href="https://www.sejuku.net/blog/68398">virtualenvとは</a></li>
  <li>
    <a href="https://www.youtube.com/watch?v=jP7p2okKdJA&t=582s">You Tube</a>
  </li>
  <li>
    <a href="https://qiita.com/sho73movie/items/fa5212fe41382d4dfb6f"
      >VScode import エラーについて python extra pathの追加</a
    >
  </li>
</ur>

{% endblock %}
