{% extends "base.html" %} {% block body %}
<h1>URL短縮アプリ8</h1>
    <h2><a href="/">Back</a></h2>
    <form method="post" action="/url">
        <label for="url">「https://」で始まるURLを入力してください</label>
        <br/>
        <input type="url"
          name="url"
          id="url"
          placeholder="https://www.xyz.com"
          pattern="https://.*" size="50"
            value="{{old_url}}"
          required  
          style="margin-top: 10px; margin-left:5px" 
        >
        <button type="submit" value="submit">短縮実行</button>
        <br>
        <label>短縮後のURL</label>
        <br/>
        <input name="generated_url" value="{{new_url}}" style="margin-top: 10px; margin-left:5px" size="50"></input>
      </form>
{% endblock %}
